
<%- include("header") -%>

<h1 style="color: black;">About Page</h1>

<p>This is ToDo List Webpage for practising the Node.js with Express.js</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, unde iure earum quaerat inventore praesentium architecto reprehenderit dolores aliquam. Illo sunt animi nihil id excepturi assumenda eveniet, sit voluptatem dolores.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, nisi dolores! Natus, et animi at reprehenderit expedita eius? Praesentium nisi nulla, vero minima provident autem veniam porro pariatur labore, in rem ipsam quo recusandae, quaerat nemo sint rerum eligendi explicabo tenetur hic eos qui. Rem placeat mollitia harum molestiae suscipit libero, fugit inventore incidunt dolorum totam quia possimus adipisci quas iure obcaecati. Rem necessitatibus, iure itaque ex veritatis vitae voluptatum reprehenderit magnam doloremque alias harum nostrum omnis ipsum modi nobis iusto. Dolor ipsa, ducimus recusandae fugiat nesciunt veritatis soluta culpa ad mollitia ut, quas neque itaque! Sit assumenda ab autem ratione itaque, praesentium non nulla quidem est culpa iusto dolorum nobis quibusdam, ea necessitatibus? Veritatis voluptatibus debitis maxime. Sint suscipit inventore consequatur sapiente odit facere natus magni, doloremque mollitia alias quas maxime voluptas necessitatibus modi, vitae amet ab quasi culpa. Delectus obcaecati aspernatur, non nihil eligendi officiis quisquam, repudiandae suscipit, beatae unde commodi excepturi reprehenderit et modi fuga exercitationem adipisci minus illum quos. Ad numquam delectus obcaecati sint odit cumque nostrum. Omnis similique et molestiae officiis quaerat hic odio consectetur dolor! Voluptatibus dolorum voluptates nam animi neque odit excepturi amet atque eligendi. Iure corrupti assumenda odio, rerum eius consectetur quos?</p>


<%- include("footer") -%>